/* .container {
  max-width: 1400px !important;
} */

.scrollEvent {
  flex: 1;
  overflow-y: scroll !important;
}
.filtersec {
  flex: 1;
  display: flex;
  justify-content: center;
}

.news-back {
  display: flex;
  flex-direction: row;
  height: 70vh;
  overflow-y: scroll !important;
}
